<header class="app-header">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="vm.headerCollapse = !vm.headerCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AnnoTate</a>
        </div>

        <div class="collapse navbar-collapse" collapse="vm.headerCollapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in vm.links">
                    <a ui-sref="{{ ::link.state }}" ui-sref-active="-active" class="link">{{ ::link.label }}</a>
                </li>
            </ul>

            <div auth-header></div>
        </div>


    </div>
</header>
