.annotations-group

    // We're not using the direct descendant selector, as annotations may or may
    // not be inside a sub-group.

    .text
        fill: blue
        opacity: 0.4

    .text.-temp
        fill: red

    .image
        fill: blue
        opacity: 0.4

    .image.-temp
        fill: red
