$nav-link-border-size = 4px

.app-header
    @extend .navbar
    @extend .navbar-default
    @extend .navbar-static-top
    border-bottom: 0
    margin-bottom: 0

    > .container-fluid > .collapse > .navbar-nav > li > a
        @media screen and (min-width: $screen-sm-min)
            padding-bottom: $navbar-padding-vertical - $nav-link-border-size
            border-bottom: $nav-link-border-size solid transparent

    > .container-fluid > .collapse > .navbar-nav > li > a.-active
        @media screen and (min-width: $screen-sm-min)
            border-color: pink
