.artist-search
    @extend .container
    margin-bottom: 30px

    > .row > .content
        @extend .col-sm-8
        @extend .col-sm-push-2

    > .row > .content > .input-group > .input
        @extend .form-control
        box-shadow: none
        border-radius: 0
        border: 0
        color: #757575
        height: 64px
        font-family: Montserrat
        font-size: 28px
        font-weight: bold
        padding: 6px 18px

    > .row > .content > .input-group > .input-group-addon
        background: white
        border: 0
        border-radius: 0
        padding-right: 18px

    > .row > .content > .input-group > .input-group-addon > .icon
        @extend .glyphicon
        @extend .glyphicon-search
        font-size: 2em

    > .row > .content > .input-group > .dropdown-menu
        background-color: #d1e54e
        border: 0
        border-radius: 0
        color: #39403e
        font-size: 22px
        font-weight: 300
        margin: 0
        width: 100%

    > .row > .content > .input-group > .dropdown-menu > li > a
        padding: 14px 20px

    > .row > .content > .input-group > .dropdown-menu > li.active > a
        background-color: #39403e
