.artist-list
    make-row()
    list-style-type: none
    padding: 0

    > .artist
        @extend .col-xs-6
        @extend .col-sm-4
        @extend .col-md-3
        margin-bottom: 30px

    // > .artist > .wrap1
    //     position: relative
    //     padding-top: 100%

    // > .artist > .wrap1 > .wrap2
    //     align-items: center
    //     background-color: #39403e
    //     display: flex
    //     flex-direction: column
    //     height: 100%
    //     justify-content: center
    //     position: absolute
    //     top: 0
    //     width: 100%
    //     z-index: 1

    // > .artist > .wrap1 > .wrap2 > img
    //     @extend .img-responsive

    > .artist > img
        @extend .img-responsive

    > .artist > .title
        background-color: #39403e
        color: #fff
        padding: 15px
        text-align: center

    > .artist > .title > h4
        margin: 0
        font-size: 18px

    > .artist.-active
        cursor: pointer

    > .artist.-active > .wrap1 > .wrap2
        background-color: #d1e54e

    > .artist.-active > .title
        background-color: #d1e54e
        color: #39403e
