.artist-list
    margin-top: 40px
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: center


    > .artist
        height: 120px
        width: 120px
        background: #ddd
        display: flex
        margin: 0 20px 20px
        justify-content: center
        align-items: center

    > .artist:hover
        background: #aaa
        color: white

    > .artist > .artistname
        text-align: center
