.footer-projects
    background-color: #e3e3e1
    color: #3a413f

    > .container > .row > section
        make-sm-column(6)
        make-md-column(2.4)
        margin: 20px 0

    > .container > .row > section > h4
        font-size: 1em
        font-weight: bold
        line-height: 1.538461538
        margin: 0

     > .container > .row > section > ul
        list-style-type: none
        margin: 0
        padding: 0

    > .container > .row > section > ul > li > a
        color: #3a413f

