.home-jumbotron
    position: relative
    background: none

    > img
        display: none
        width: 106%
        margin-left: -3%
        height: auto
        overflow: hidden
        @media (min-width: $screen-sm-min)
            display: block


    > .buttons
        padding: 30px 0
        @media (min-width: $screen-sm-min)
            display: flex
            justify-content: space-around
            padding: 0
            position: absolute
            top: -30px
            width: 100%

    > .buttons > .button
        @extend .btn
        @extend .btn-lg
        background-color: #d1e54e
        border-radius: 0
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5)
        color: #3e3e3e
        font-size: 18px
        font-weight: 600
        margin-bottom: 15px
        padding: 20px 0
        width: 100%
        @media (min-width: $screen-sm-min)
            flex: 0 1 240px


    > .buttons > .button:hover
        background-color: lighten(#d1e54e, 20%)

