.loading-spinner
    align-items: center
    background: dark-grey
    display: flex
    height: 100px
    justify-content: center
    opacity: 1
    transition: 0.2s linear opacity
    width: 100px
    z-index: 1

    &.ng-hide
        opacity: 0

    &.-artistlist
        position: relative
        left: 50%
        margin-left: -50px
