.loading-spinner
    display: flex
    align-items: center
    justify-content: center
    height: 100px
    width: 100px
    background: dark-grey
    border-radius: 8px
    z-index: 1
    opacity: 1
    transition: 0.2s linear opacity

    &.ng-hide
        opacity: 0
