.logged-in
    height: 50px
    display: flex
    flex-direction: column
    justify-content: space-around

    > .user
        font-weight: bold

    > .controls
        display: flex
        justify-content: space-around

    > .controls > a
        color: #39403e
