.navbar-transcribe
    border: 0
    margin-bottom: 0
    background: #2a2a2a

    > .container-fluid > .controls
        display: inline-block

    > .container-fluid > .controls > .button
        @extend .btn
        @extend .navbar-btn
        button-variant(light-grey, dark-grey, dark-grey)

    > .container-fluid > .controls > .button.-tool
        @extend .btn-primary

    > .container-fluid > .controls > .button.-tool.-active
        button-variant($brand-primary, white, $brand-primary)

    > .container-fluid > .controls > .button.-next
        @extend .btn-success

    > .container-fluid > .controls > .button > .icon
        @extend .glyphicon
        color: #909090
        margin-right: 5px

    > .container-fluid > .controls > .button.-tool > .icon
    > .container-fluid > .controls > .button.-next > .icon
        color: white

    > .container-fluid > .controls > .button.-tool.-active > .icon
        color: $brand-primary

    > .container-fluid > .controls > .button > .icon.-rotateleft
        @extend .glyphicon-share-alt
        transform: scaleX(-1)

    > .container-fluid > .controls > .button > .icon.-rotateright
        @extend .glyphicon-share-alt

    > .container-fluid > .controls > .button > .icon.-centre
        @extend .glyphicon-screenshot

    > .container-fluid > .controls > .button > .icon.-text
        @extend .glyphicon-font

    > .container-fluid > .controls > .button > .icon.-image
        @extend .glyphicon-picture

    > .container-fluid > .controls > .button > .icon.-range
        @extend .glyphicon-edit

    > .container-fluid > .controls > .button > .icon.-next
        @extend .glyphicon-arrow-right
        margin-right: 0
        margin-left: 5px
