.navbar-transcribe
    background: rgba(#f8f8f8, 0.7)

    > .container-fluid
        display: flex
        flex-direction: row
        justify-content: space-between

    > .controls
        background: none

    .button
        @extend .btn
        @extend .navbar-btn

    .button > .icon
        @extend .glyphicon

    .button.-rotateleft > .icon
        @extend .glyphicon-share-alt
        transform: scaleX(-1)

    .button.-rotateright > .icon
        @extend .glyphicon-share-alt

    .button.-centre > .icon
        @extend .glyphicon-screenshot

    .button.-texttool > .icon
        @extend .glyphicon-font

    .button.-imagetool > .icon
        @extend .glyphicon-picture

    .button.-tutorial > .icon
        @extend .glyphicon-question-sign

    .button.-next > .icon
        @extend .glyphicon-arrow-right

    .button.-original > .icon
        @extend .glyphicon-file

    .button > .text
        display: none
        @media (min-width: 986px)
            display: inline
            margin-left: 5px

    .button.-next > .text
        @media (min-width: $screen-xs-min)
            display: inline
            margin-left: 0
            margin-right: 5px

    .button.-rotateleft,
    .button.-rotateright,
    .button.-centre
        button-variant(light-grey, dark-grey, dark-grey)
        button-active-variant(light-grey, lighten(dark-grey, 30%), lighten(dark-grey, 30%))
        .icon
            color: #909090

    .button.-texttool,
    .button.-imagetool,
    .button.-original,
    .button.-tutorial,
    .button.-next
        button-variant(blue-grey, green, green)
        button-active-variant(blue-grey, lighten(green, 30%), lighten(green, 30%))
