.navbar-transcribe
    border: 0
    margin-bottom: 0
    background: rgba(#f8f8f8, 0.7)
    position: absolute
    width: 100%

    > .container-fluid > .row > .controls.-left
        @extend .col-sm-5

    > .container-fluid > .row > .controls.-middle
        @extend .col-sm-5

    > .container-fluid > .row > .controls.-right
        @extend .col-sm-2
        text-align: right

    > .container-fluid > .row > .controls > .button
        @extend .btn
        @extend .navbar-btn
        button-variant(light-grey, dark-grey, dark-grey)
        border-radius: 0

    > .container-fluid > .row > .controls > .button.-tool
        @extend .btn-primary

    > .container-fluid > .row > .controls > .button.-tool.-active
        button-variant($brand-primary, white, $brand-primary)

    > .container-fluid > .row > .controls > .button.-next
        @extend .btn-success

    > .container-fluid > .row > .controls > .button > .icon
        @extend .glyphicon
        color: #909090
        margin-right: 5px

    > .container-fluid > .row > .controls > .button.-tool > .icon
    > .container-fluid > .row > .controls > .button.-next > .icon
        color: $btn-primary-color

    > .container-fluid > .row > .controls > .button.-tool.-active > .icon
        color: $brand-primary

    > .container-fluid > .row > .controls > .button > .icon.-rotateleft
        @extend .glyphicon-share-alt
        transform: scaleX(-1)

    > .container-fluid > .row > .controls > .button > .icon.-rotateright
        @extend .glyphicon-share-alt

    > .container-fluid > .row > .controls > .button > .icon.-centre
        @extend .glyphicon-screenshot

    > .container-fluid > .row > .controls > .button > .icon.-text
        @extend .glyphicon-font

    > .container-fluid > .row > .controls > .button > .icon.-image
        @extend .glyphicon-picture

    > .container-fluid > .row > .controls > .button > .icon.-next
        @extend .glyphicon-arrow-right
        margin-right: 0
        margin-left: 5px
