.static-content
    background-color: #39403e
    color: #f5f5f5
    font-size: 15px
    padding: 50px 0
    > div
        @extend .container
    > div > h1
        @extend .col-sm-12
        border-bottom: 1px solid
        padding-bottom: 5px
    > div > h2
        @extend .col-sm-12
    > div > div
        @extend .row
    > div > div > p
        @extend .col-sm-6
    > div > div > ul
        @extend .col-sm-6


