.static-content > .container > .row > section
    @extend .col-md-8
    @extend .col-md-push-2
    padding-top: 40px
    font-size: 18px

    > h1
       margin-bottom: 40px

    > p
        margin-bottom: 15px

    > p:first-of-type
        padding-top: 15px
        border-top: 1px solid dark-grey

    a
        color: dark-grey
        text-decoration: underline

    a:hover,
    a:active
        color: green
