.transcribe-dialog
    @extend .panel
    @extend .panel-default
    border: 0
    left: 0
    margin-bottom: 0
    opacity: 0
    position: absolute
    top: 0
    width: 550px
    z-index: -1

    &.-active
        opacity: 1
        z-index: 1

    > .heading
        @extend .panel-heading
        @extend .panel-default > .panel-heading
        background-color: green
        border: 0
        cursor: move
        display: flex

    > .heading > .title
        @extend .panel-default > .panel-heading
        @extend .panel-title
        background: none
        color: #39403e
        flex: 1
        font-weight: bold
        line-height: 23px

    > .heading > .close
        cursor: pointer

    > .heading > .close > .icon
        @extend .glyphicon
        @extend .glyphicon-remove

    > .heading > .close > .text
        @extend $hide-text

    > .body
        @extend .panel-body

    > .body > .transcribe
        @extend .form-control
        @extend textarea.form-control
        margin-bottom: 7px
        border: 0
        box-shadow: none

    > .body > .hint
        color: #999
        font-size: 11px

    > .body .button
        background-color: transparent
        border: 0
        display: block
        font-weight: bold

    > .body .button:hover span
        border-bottom: 3px solid green

    > .body .button.-save
        border-top: 1px solid #39403e
        border-bottom: 1px solid #39403e
        font-size: 17px
        width: 100%

    > .body .button.-tag:not(:last-child)
        border-right: 1px solid #39403e

    > .body > .container-fluid > .editing
        make-row()

    > .body > .container-fluid > .editing > .button
        @extend .col-xs-3
