<header class="app-header" ng-class="{ '-overlap': vm.overlap }">
    <div class="container">
        <section class="mainnav">
            <a ui-sref="Home" class="homelink">
                <img src="images/logo.svg" class="logo">
            </a>
            <nav class="links">
                <a ng-repeat="link in ::vm.links" ui-sref="{{ link.state }}" ui-sref-active="-active" class="link" ng-bind="link.label"></a>
            </nav>
        </section>
        <nav class="auth">
            <div auth-header></div>
        </nav>
    </div>
    <section class="header-hook" ng-hide="vm.hideHook">
        <div>
            <h2>Uncover the <span class="effect -boldline">lives</span> of artists</h2>
            <p>In addition to creating art, many artists wrote diaries and letters and made sketchbooks that contain rich details about their lives and creative processes. Help transcribe documents from the Tate collection, and reveal the secret lives of artists.</p>
        </div>
    </section>
    <div ui-view="lower-header"></div>
</header>
