<div class="modal-header">
    <h3 class="modal-title">Next image</h3>
</div>

<div class="modal-body">
    <p>Is there still text to transcribe?</p>
    <div class="radio">
        <label>
            <input type="radio" ng-model="nextOption" name="nextOption" id="nextOption1" value="finished" checked>
            Yes, there are still lines of text to transcribe
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="nextOption" name="nextOption" id="nextOption2" value="unfinished">
            No, everything's transcribed
        </label>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
