<div class="modal-header">
    <h3 class="modal-title">Next document</h3>
</div>

<div class="modal-body">
    <p>Did you transcribe everything?</p>
    <p>(Don't worry if not.)</p>

    <form name="form" novalidate>
        <div class="form-group radio">
            <label>
                <input
                    checked
                    id="nextOption1"
                    name="nextOption"
                    ng-model="nextOption"
                    ng-required="true"
                    type="radio"
                    value="finished">
                Yes, I transcribed everything
            </label>
        </div>
        <div class="form-group radio">
            <label>
                <input
                    id="nextOption2"
                    name="nextOption"
                    ng-model="nextOption"
                    ng-required="true"
                    type="radio"
                    value="unfinished">
                No, I didn't transcribe everything
            </label>
        </div>
    </form>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">OK</button>
</div>
