<div class="modal-header">
    <h3 class="modal-title">Tutorial</h3>
</div>

<div class="modal-body">

    <ol>
        <li style="margin-top: 1em;">Some pieces are easier to transcribe than others, so find a document you want to transcribe and skip those you don’t. To skip a document, click ‘Next Document’ and ‘No, I didn't transcribe everything’. </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">You can draw boxes around images by selecting ‘Annotate Image’. There is no need to add keywords. </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">Once you have found a page you want to work on, find a line you can read with confidence. You can transcribe as little as one line or as much as the whole page, and in any order you want. </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">Click ‘Annotate Text’, and then click on the start and the end of a line. Dots will appear and the second click will bring up the transcription box. We’re transcribing lines instead of sentences, because it’s easier for our algorithms to compare multiple volunteers’ transcriptions of smaller strings. Plus, artists don’t always use standard punctuation! </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">Please preserve spelling, punctuation and capitalization, but do not try to reproduce the spacing, layout or formatting (e.g. italics or underlining). This is because we are trying to make a word searchable collection of transcriptions, rather than an edition of the text.    </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">
            <p>Sometimes artists or Tate archivists added information to the AnnoTate documents after the original composition, and sometimes one document is written by several people. If you can detect different writers, and even if they are writing on the same line, treat their contributions as separate lines by placing pairs of points at the start and end of the individual contributions.</p>
            <p>For example: <img src="/images/tutorial1.png" style="width: 100%; height: auto;"></p>
        </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">
            <p>Click ‘Deletion’ to represent text that is struck through but still legible and enter the deleted text between the [deletion]text[deletion] brackets. </p>
            <p>For example: <img src="/images/tutorial2.png" style="width: 100%; height: auto;"></p>
        </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">Click the ‘Insertion’ button to represent text entered over a line. </li style="margin-top: 1em;">
        <li style="margin-top: 1em;">If something is illegible either because it is heavily crossed out or the paper is damaged, press the ‘illegible’ button. Do not use this button if you think someone else might be able to read the text.</li style="margin-top: 1em;">
        <li style="margin-top: 1em;">When you have transcribed as much as you want, click ‘Next Document’ and select either ‘Yes, I transcribed everything’ or ‘No, I didn't transcribe everything’</li style="margin-top: 1em;">
        <li style="margin-top: 1em;">No need to transcribe page numbers or catalogue marks. </li style="margin-top: 1em;">
    </ol>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
