<div class="container">

    <div class="loading-message" ng-show="vm.loading">
        <div class="message">
            <div loading-spinner class="-artistlist"></div>
            <p>Loading artists - this will take a few seconds...</p>
        </div>
    </div>

    <ul class="artist-list" ng-hide="vm.loading">
        <li
            class="artist"
            ng-repeat="artist in vm.artists"
            ng-click="vm.go(artist)"
            ng-class="{ '-active': hover }"
            ng-mouseenter="hover = true"
            ng-mouseleave="hover = false"
            masonry>
            <img ng-src="{{ artist.image }}">
            <div class="title">
                <h4>{{ artist.name }}</h4>
                <div>Explore sketchbooks</div>
            </div>
        </li>
    </ul>
</div>
