<div class="structure">

    <nav class="navbar navbar-default upper-bar">
        <ul class="nav navbar-nav tools">
            <text-tool></text-tool>
            <image-tool></image-tool>
        </ul>
        <ul class="nav navbar-nav navbar-right sub-tools">
            <li>
                <a href class="centre" ng-click="centre()">
                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                    Centre
                </a>
            </li>
            <li>
                <button class="btn btn-success navbar-btn finished">Finished transcribing</button>
            </li>
        </ul>
    </nav>

    <div class="svg-container">

        <div text-annotation-edit data="editingTextAnnotation" ng-if="editingTextAnnotation !== null"></div>

        <svg
            height="598"
            ng-class="{ 'active': activeTool.name }"
            svg-pan-zoom
            version="1.1"
            width="1198"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">

            <image
                height="696px"
                ng-attr-xlink:href="{{ subject.image }}"
                width="544px"
                x="0"
                xlink:href=""
                y="0"></image>

            <circle
                temp-text-annotation
                data="annotation"
                ng-repeat="annotation in annotations | filter:{type:'tempText'}:true"
            ></circle>

            <g
                text-annotation
                data="annotation"
                ng-repeat="annotation in annotations | filter:{type:'text'}:true"
            ></g>

            <g
                temp-image-annotation
                data="annotation"
                ng-repeat="annotation in annotations | filter:{type:'tempImage'}:true"
            ></g>

            <g
                image-annotation
                data="annotation"
                ng-repeat="annotation in annotations | filter:{type:'image'}:true"
            ></g>

        </svg>

    </div>

    <nav class="navbar navbar-default lower-bar">
        <p class="navbar-text">Lower information bar</p>
    </nav>

</div>
