<div class="modal-header">
    <h3 class="modal-title">Sign in via Zooniverse</h3>
    <close-button ng-click="vm.cancel()"></close-button>
</div>

<div class="modal-body">
    <p>Sign in using your Zooniverse account here:</p>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Login</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="Username or email address" ng-model="vm.user.login" ng-disabled="vm.loading">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.user.password" ng-disabled="vm.loading">
                <p class="forgot">Forgot password?</p>
                <p class="error" ng-show="vm.error" ng-bind="vm.error"></p>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer">
    <a class="button -new" href="https://www.zooniverse.org/#/accounts/register" target="_blank">Don't have a Zooniverse account?</a>
    <button class="button -signin" ng-click="vm.signIn()" ng-disabled="vm.loading">Sign In</button>
</div>
