<div class="modal-header">
    <h3 class="modal-title">Next document</h3>
</div>

<div class="modal-body">
    <p>Has everything been transcribed?</p>
    <p>That includes your transcriptions, and any that have already been done. Don't worry if it's not complete!</p>

    <div class="buttons">
        <button ng-click="vm.submitBlank()" class="button -blank">The page was blank</button>
        <button ng-click="vm.submitComplete()" class="button -yes">Yes</button>
        <button ng-click="vm.submitIncomplete()" class="button -no">No</button>
    </div>

</div>

<div class="modal-footer">
    <a href ng-click="vm.cancel()">Cancel</a>
</div>
