<div class="modal-header">
    <h3 class="modal-title">Tutorial ({{ vm.page }} of 10)</h3>
    <close-button ng-click="vm.close()"></close-button>
</div>

<div class="modal-body">

    <section ng-show="vm.page === 1">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">Banner: © Tate Photography © Tate 2015. Journal TGA/200817/1/62 © The estate of Keith Vaughan &amp; Letter TGA 9920/2/86 © The Kenneth Armitage Foundation. Postcard TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>To get started either click the ‘Find Artists’ tab and browse for something interesting or click ‘Start Transcribing’. To return to the home page click on ‘AnnoTate’ in the top left.</p>
    </section>

    <section ng-show="vm.page === 2">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p> Some artists’ handwriting is easier to read than others, but don’t be put off! You can skip pages you don’t want to do by clicking ‘Next Document’ and ‘No’. If the page is blank select ‘blank page’. If you choose to transcribe the whole page, press ‘Yes’. Pages can contain print, handwritten material or both. All of it is fair game for transcription.</p>
    </section>


    <section ng-show="vm.page === 3">
        <p>Once you've found a page you want to transcribe, you can do as little as one line or as much as the whole page (one line at a time), and in any order you want. 'A line' means any text on the same line, as opposed to a sentence.</p>
    </section>

    <section ng-show="vm.page === 4">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>To begin transcribing lines, click the 'Annotate Text' button above the image. Click near the start of the line you want to transcribe and a dot will appear. Add another dot at the end of the line to trigger the transcription box. Transcribe spelling, grammar and capitalization exactly as you see it, but not the page layout. Symbols such as * & % £ should be transcribed as they are. After transcribing each line click 'save changes'.</p>
    </section>

    <section ng-show="vm.page === 5">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>You can delete dots by clicking on them and selecting 'delete', which also deletes the transcription for that line (but not the whole page).</p>
    </section>

    <section ng-show="vm.page === 6">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 7247/1/3 © Bowness Photography © Tate 2015</p>
        <p>You can rotate, zoom and centre images. Rotation and centre buttons are located on the top left. Zoom can be done in a variety of ways on different devices, including trackpads, the mouse and with your keyboard.</p>
    </section>

    <section ng-show="vm.page === 7">
        <img ng-src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>There are special buttons to facilitate your transcription when you find deleted, illegible, inserted or non-English text: 'Deletion', 'Insertion', 'Illegible' and 'Not English'. You can use more than one tag to describe text, i.e. something can be deleted and inserted, as well as in a language other than English.</p>
    </section>

    <section ng-show="vm.page === 8">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>Sometimes artists or Tate archivists added information to the AnnoTate documents after the original composition, and sometimes one document is written by several people. If you can detect different writers, and even if they are writing on the same line, treat their contributions as separate lines by placing pairs of points at the start and end of the individual contributions.</p>
    </section>

    <section ng-show="vm.page === 9">
        <img src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>Transcribe text in the margin, known as marginalia, one line at a time, even if there is only one word or a small amount of text on each line. Treat this text as separate from the body of the main text.</p>
    </section>

    <section ng-show="vm.page === 10">
        <img src="images/tutorial/step{{ vm.page }}.gif">
        <p class="copyright">TGA 8717/3/1 © Tate Photography © Tate 2015</p>
        <p>Select 'Annotate Image' to draw bounding boxes around images. We are not gathering keywords about images, but you can discuss them on Talk. Use the hashtag symbol # to generate discussions around particular concepts, e.g. #sculpture, #loveletter etc.</p>
    </section>

</div>

<div class="modal-footer">
    <button class="button -prev" ng-click="vm.page = vm.page - 1" ng-show="vm.page > 1">Previous</button>
    <button class="button -next" ng-click="vm.page = vm.page + 1" ng-show="vm.page < 10">Next</button>
    <button class="button -start" ng-click="vm.close()" ng-show="vm.page === 10">Get Started!</button>
</div>
