// Fonts mixin
font-url(family, file)
    return '/fonts/' + family '/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
    @font-face
        font-family family
        src url(font-url(family, file + '.eot'))
        src url(font-url(family, file + '.eot?#iefix')) format('embedded-opentype'),
            url(font-url(family, file + '.woff')) format('woff'),
            url(font-url(family, file + '.ttf')) format('truetype'),
            url(font-url(family, file + '.svg#'+ family)) format('svg')
        font-weight weight
        font-style normal
    if hack-chrome-windows
        @media screen and (-webkit-min-device-pixel-ratio:0)
            @font-face
                font-family family
                src url(font-url(file + '.svg#'+ family)) format('svg')


webfont('Montserrat', 'montserrat-bold-webfont', false, bold)
webfont('Montserrat', 'montserrat-light-webfont', false, light)
