// Colours
blue = #0090db
green = #d1e54e
pink = #ff82f8
dark-grey = #121212
medium-grey = #757575
light-grey = #d8d8d8

// Optionally override Bootstrap variables here
$icon-font-path = "/fonts/glyphicons/"
$font-family-sans-serif ?= "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif

$font-size-base ?= 13px
$font-size-large ?= ceil(($font-size-base * 1.25)) // ~16px
$font-size-small ?= ceil(($font-size-base * 0.85)) // ~11px

$line-height-base ?= 1.538461538 // 20/13
$line-height-computed ?= floor(($font-size-base * $line-height-base)) // ~20px

$brand-success = green
$brand-primary = green

$navbar-inverse-color ?= light-grey
$navbar-inverse-bg ?= dark-grey
$navbar-inverse-border ?= dark-grey

$navbar-default-bg ?= #f8f8f8
$navbar-default-color = medium-grey

$body-bg ?= #f0f0f0
$overlap = 100px

$btn-primary-color = #2d2a26

$panel-border-radius = 0
