<nav id="site-nav" class="navbar navbar-default navbar-static-top" ng-init="isCollapsed = true;">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="home" id="site-logo" class="navbar-brand">AnnoTate</a>
        </div>

        <div class="collapse navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="classify">Transcribe</a></li>
            </ul>

        </div>

    </div>
</nav>
