<article class="team-content">

    <h1>The Team</h1>

    <section ng-repeat="group in ::vm.team">
        <h2 ng-bind="group.title"></h2>
        <div class="people">
            <div class="person" ng-repeat="person in ::group.members">
                <div class="row">
                    <img ng-src="{{ 'images/team/' + person.slug + '.jpg' }}">
                    <div class="bio">
                        <h2 ng-bind="person.name"></h2>
                        <p ng-repeat="para in ::person.bio" ng-bind="para"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>
