footer[role="content-info"]

    .logo
        a
            display: block
            height: 180px
            width: 180px
            margin: 0 auto

        svg
            fill: #333

        .blurb
            padding: 20px 0
            text-align: center
            margin: 0 auto
            float: none
