header[role="banner"]

    .structure
        display: flex
        padding: 40px 0

    h1
        @extend .dancing-script
        flex: 0 0 32%
        margin: 0
        text-align: center

    nav
        flex: 0 0 68%
        display: flex
        justify-content: center
        align-items: center

        a
            padding: 0 40px
