header[role="banner"]
    .row
        @media (min-width: 992px)
            display: flex

    h1
        @extend .dancing-script
        margin: 30px 0

    nav
        @media (min-width: 992px)
            display: flex
            align-items: center
            justify-content: flex-end
        a
            margin-left: 20px
