.home-jumbotron
    background: none
    position: relative

    > .bg
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: url('http://static.zooniverse.org/preview.zooniverse.org/transcribe/images/bg.jpeg')
        z-index: 0
        opacity: 0.4


    > .text
        position: relative
        z-index: 1
        padding-bottom: 60px

    > .text > p
        margin: 2em 0

    > .text > .btn
        margin: 0 auto
