<menu transcribe-toolbar></menu>

<div class="transcription-interface">

    <div overlay class="overlay"></div>

    <svg
        marking-surface
        class="svg"
        height="100%"
        width="100%"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">

        <g class="pan-zoom">
            <g class="rotate-container">

                <text
                    class="copyright"
                    ng-show="vm.copyright"
                    ng-bind="vm.copyright"
                    transform="rotate(90) translate(0, 20)"
                ></text>

                <image subject class="subject"></image>

                <g class="ribbons" ng-show="vm.subject.data.already_seen || vm.subject.data.retired">
                    <path
                        d="M100,0 L150,0 L0,150 L0,100 Z"
                        fill="#d1e54e" />
                    <text
                        x="0"
                        y="93"
                        text-anchor="middle"
                        transform="rotate(-45)"
                        fill="#39403e"
                        font-weight="bold"
                        ng-show="vm.subject.data.already_seen && !vm.subject.data.retired"
                    >ALREADY SEEN!</text>
                    <text
                        x="0"
                        y="93"
                        text-anchor="middle"
                        transform="rotate(-45)"
                        fill="#39403e"
                        font-weight="bold"
                        ng-show="vm.subject.data.retired"
                    >ALREADY FINISHED!</text>
                </g>




                <g class="previous-lines">
                    <g
                        previous-line
                        data="line"
                        ng-repeat="line in vm.aggregations"
                    ></g>
                </g>

                <g class="annotations">
                    <g class="text-annotations">
                        <g
                            text-annotation
                            data="annotation"
                            ng-repeat="annotation in vm.annotations | filter:{type:'text'}:true"
                        ></g>
                    </g>
                    <g class="image-annotations">
                        <g
                            image-annotation
                            data="annotation"
                            ng-repeat="annotation in vm.annotations | filter:{type:'image'}:true"
                        ></g>
                    </g>
                </g>

            </g>
        </g>

    </svg>

</div>
