<div transcribe-toolbar></div>

<div class="transcription-interface">

    <div overlay class="overlay"></div>

    <svg
        marking-surface
        class="svg"
        height="100%"
        width="100%"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">

        <g class="pan-zoom">

            <g class="rotate-container">

                <g class="subject">
                    <rect
                        height="600px"
                        width="400px"
                        x="0"
                        y="0"
                        fill="lightgrey"
                    ></rect>

                    <image
                        ng-height="{{ subject.data.image.height }}"
                        ng-href="{{ subject.data.image.src }}"
                        ng-if="subject.isLoaded === true"
                        ng-load="svg.$centre()"
                        ng-width="{{ subject.data.image.width }}"
                        x="0"
                        xlink:href=""
                        y="0"></image>
                </g>

                <g class="annotations">
                    <g class="text-annotations">
                        <g
                            text-annotation
                            data="annotation"
                            ng-repeat="annotation in vm.annotations | filter:{type:'text'}:true"
                        ></g>
                    </g>
                    <g class="image-annotations">
                        <g
                            image-annotation
                            data="annotation"
                            ng-repeat="annotation in vm.annotations | filter:{type:'image'}:true"
                        ></g>
                    </g>
                </g>

            </g>

        </g>

    </svg>


</div>
