<div class="modal-header">
    <h3 class="modal-title">Next document</h3>
</div>

<div class="modal-body">
    <p>Did you transcribe everything?</p>
    <p>(Don't worry if not.)</p>

    <p><button ng-click="vm.submit(true)" class="btn btn-default">Yes, everything is transcribed</button></p>
    <p><button ng-click="vm.submit(false)" class="btn btn-default">No, there are still things to transcribe</button></p>

</div>

<div class="modal-footer">
    <a href ng-click="vm.cancel()">Cancel</a>
</div>
