<div class="structure">

    <a href="https://www.zooniverse.org/" class="logo-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="logo" width="1em" height="1em">
            <g class="logo" transform="translate(50, 50)">
                <path d="M 0 -45 A 45 45 0 0 1 0 45 A 45 45 0 0 1 0 -45 Z M 0 -30 A 30 30 0 0 0 0 30 A 30 30 0 0 0 0 -30 Z"></path>
                <path d="M 0 -12.5 A 12.5 12.5 0 0 1 0 12.5 A 12.5 12.5 0 0 1 0 -12.5 Z"></path>
                <path d="M 0 -75 L 5 0 L 0 75 L -5 0 Z" transform="rotate(50)"></path>
            </g>
        </svg>
    </a>

    <div class="content">

        <p>The Zooniverse is a collection of web-based citizen science projects that use the efforts of volunteers to help researchers deal with the flood of data that confronts them.</p>

        <dl>
            <dt>Space</dt>
            <dd><a href="http://radio.galaxyzoo.org/">Radio Galaxy Zoo</a></dd>
            <dd><a href="http://www.diskdetective.org/">Disk Detective</a></dd>
            <dd><a href="http://www.planethunters.org/">Planet Hunters</a></dd>
            <dd><a href="http://www.galaxyzoo.org/">Galaxy Zoo</a></dd>
            <dd><a href="http://www.milkywayproject.org/">The Milky Way Project</a></dd>
            <dd><a href="http://www.planetfour.org">Planet Four</a></dd>
        </dl>

        <dl>
            <dt>Nature</dt>
            <dd><a href="http://www.floatingforests.org">Floating Forests</a></dd>
            <dd><a href="http://www.oldweather.org/">Old Weather</a></dd>
            <dd><a href="http://www.cyclonecenter.org/">Cyclone Center</a></dd>
            <dd><a href="http://www.planktonportal.org/">Plankton Portal</a></dd>
        </dl>

        <dl>
            <dt>Biology</dt>
            <dd><a href="http://www.cellslider.net/">Cell Slider</a></dd>
            <dd><a href="http://www.wormwatchlab.org/">Worm Watch Lab</a></dd>
        </dl>

        <dl>
            <dt>Nature</dt>
            <dd><a href="http://www.condorwatch.org/">Condor Watch</a></dd>
            <dd><a href="http://www.seafloorexplorer.org/">Seafloor Explorer</a></dd>
            <dd><a href="http://www.notesfromnature.org/">Notes from Nature</a></dd>
            <dd><a href="http://www.snapshotserengeti.org/">Snapshot Serengeti</a></dd>
        </dl>

        <div class="links">
            <a href="https://www.zooniverse.org/privacy">Privacy policy</a>
            <a href="https://github.com/zooniverse">Source &amp; bugs</a>
        </div>

</div>
