.temp-text-annotation
    &.hover
        cursor: move

.text-annotation
    &.hover
        cursor: pointer

.image-annotation
    .image-annotation-delete
        cursor: pointer
        display: none
        fill: red
    &.edit
        .image-annotation-delete
            display: block
    &.hover
        cursor: pointer

.text-annotation-edit
    background-color: #fff
    color: black
    left: 50px
    position: absolute
    top: 50px
    width: 400px
