.temp-text-annotation

    &.hover
        cursor: move


.image-annotation
    .image-annotation-delete
        display: none
    &.edit
        .image-annotation-delete
            display: block
    &.hover
        cursor: pointer
