.page-classify

    .svg-container
        background-color: #333
        border: 1px solid #e7e7e7
        height: 600px
        position: relative

        svg
            display: block
            &.active
                cursor: crosshair

