.page-classify

    .svg-container
        background-color: #333
        border: 1px solid #e7e7e7
        border-radius: 0 0 4px 4px
        height: 600px
        position: relative
        width: 1200px

        svg
            display: block
            &.active
                cursor: crosshair

