.page-classify

    .upper-bar,
    .lower-bar
        margin-bottom: 0
        border-bottom: 0

    .upper-bar
        border-radius: 4px 4px 0 0

    .lower-bar
        border-radius: 0 0 4px 4px

    .tools
        a
            cursor: pointer

    .sub-tools
        margin-right: 15px !important

    .glyphicon-share-alt-left
        transform: scaleX(-1)

    .lower-bar .dropup .dropdown-menu
        border-radius: 4px 4px 0 0
        box-shadow: 0 -6px 12px rgba(0, 0, 0, .175)
